.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e0e7ef;
  background: none;
}

.tab-buttons button,
.tab-buttons .tab {
  background: none;
  border: none;
  color: #334;
  padding: 0.5em 0.5em;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  transition:
    color 0.18s,
    background 0.21s;
  border-bottom: 2px solid transparent;
  outline: none;
  margin: 0;
}

.tab-buttons button.active {
  color: #002a54;
  border-bottom: 2px solid #002a54;
  background: #f5f8fa;
}

.tab-buttons button:not(:last-child) {
  margin-right: 2px;
}

/* Tab Content Panel */
.tab-content {
  min-width: 400px; /* Adjust this value as needed */
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
  background: #fff;
}

.tab-content {
  .family-panel {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .tab-buttons {
    flex-direction: column;
    padding-left: 0;
  }
  .tab-content {
    padding: 1em 0.5em;
  }
}
